<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Delete Movie</title>
    <!--
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

   <link rel="stylesheet" type="text/css"
         href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

   <link rel="stylesheet" th:href="@{/css/layout.css}"
         href="../static/css/layout.css" />
         -->
</head>
<body>
<h1>
    <th th:text="${hello}">hello</th>
</h1>
<a href="/">Strona glowna</a>
<a href="/movies?name=">Powrot do wyszukiwania</a>
</body>
</html>