<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Kino TAMS</title>
    <div sec:authorize="isAnonymous()">

        <style>
        html {
        background: url("../images/nfs5.png") no-repeat left top,
        url("../images/try3.gif") no-repeat left top;
        background-size: cover;
        }
        </style>

    </div>

    <div sec:authorize="isAuthenticated()">

        <style>
            html {
                background: url("../images/nfs8.png") no-repeat left top,
                url("../images/try3.gif") no-repeat left top;
                background-size: cover;
            }
        </style>

    </div>

</head>
<body>

<h2>
    <div th:if="${param.logout}">
        <div class="alert alert-info">
            You have been logged out.
        </div>
    </div>
</h2>

<a href="/movies?name="><img src = "../images/CinUN.png" alt="Repertuar" style="position: absolute; left: 42%; bottom: 91%; width:17%"
                             onMouseOver="this.src='../images/CinN.png'" onMouseOut="this.src='../images/CinUN.png'"/></a>

<div sec:authorize="isAnonymous()">
    <a href="/login"><img src = "../images/LogUN.png" alt="Logowanie" style="position: absolute; top: 20%;"
                          onMouseOver="this.src='../images/LogN.png'" onMouseOut="this.src='../images/LogUN.png'"/></a>
    <a href="/registration"><img src = "../images/RejUN.png" alt="Rejestracja" style="position: absolute; top: 20%; left: 81%;"
                                 onMouseOver="this.src='../images/RejN.png'" onMouseOut="this.src='../images/RejUN.png'"/></a>
</div>

<div sec:authorize="isAuthenticated()">
    Logged user: <span sec:authentication="name"></span>
    Roles: <span sec:authentication="principal.authorities">[user, admin]</span>
    <a th:href="@{/logout}">Logout</a>
</div>

<div sec:authorize="hasAuthority('admin')">
    <a href="/admin">Admin panel</a>
</div>

<div sec:authorize="hasAuthority('user')">
    <a href="/user">User panel</a>
</div>

</body>
</html>