<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<style type="text/css">
    a {
        color: black;
        text-decoration: none;
    }
    a:hover {
        color: silver;
        text-decoration: underline;
    }
</style>

<head>
    <title>Repertuar</title>
    <!--
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

   <link rel="stylesheet" type="text/css"
         href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

   <link rel="stylesheet" th:href="@{/css/layout.css}"
         href="../static/css/layout.css" />
         -->
</head>
<body>

<form method="get" >
    <p>
        <input type= "text" name="name"/>
            Sortuj wedlug ocen
            <input type="checkbox" onclick="document.getElementById('id').style.display = this.checked ? 'block' : 'none'; this.form.elements['asc'].disabled = !this.checked" />
            <div id="id" style="display: none">
                <input type="radio" name="sort" value="asc"  />Rosnaco
                <input type="radio" name="sort" value="desc"  />Malejaco
             </div>
    </p>
    <p>
        Wybierz gatunek filmu
        <input type="checkbox" name="type" value="akcja"  />Akcja
        <input type="checkbox" name="type" value="dramat" />Dramat
        <input type="checkbox" name="type" value="fantasy"/>Fantasy
        <input type="checkbox" name="type" value="horror"/>Horror
        <input type="checkbox" name="type" value="komedia"/>Komedia
        <input type="checkbox" name="type" value="przygodowy" />Przygodowy
        <input type="checkbox" name="type" value="sci-fi"/>Science-fiction
        <input type="checkbox" name="type" value="thriller"/>Thriller
    </p>
    <p>
        <button>Filtruj</button>
    </p>

</form>

<div th:if="${!movies.isEmpty()}">
    <table>
        <thead>
        <tr>
            <th>Nazwa</th>
            <th>Premiera</th>
            <th>Gatunek</th>
            <th>Ocena</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="movie : ${movies}">
            <td>
                <a th:href="@{/movie(name=${movie.name}) }" th:text="${movie.name}"></a>
            </td>
            <td th:text="${movie.premiere}"></td>
            <td th:text="${movie.type}"></td>
            <td th:text="${movie.rating/movie.numberofvotes}"></td>
        </tr>
        </tbody>
    </table>
</div>

<div th:if="${movies.isEmpty()}">
    Brak wyników
</div>
<p>
    <a href="/" style="text-decoration: underline; color:blue">Strona glowna</a>
</p>
</body>
</html>