<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <!--
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

    <link rel="stylesheet" th:href="@{/css/layout.css}"
          href="../static/css/layout.css" />
          -->
</head>
<body>
<h1>
    <th th:text="${userName}">userName</th>
    <a href="/">Home</a>
</h1>
</body>
</html>